body {
	background-image: url(hu.png);
	color: #ffffff;
}

h1 {
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	color: #000000;
	background-color: pink;
}

h2 {
font-family: sans-serif;
align-items: center;
color: #FFA500;
background-color: grey;
}

h3 {
	font-family: sans-serif;
	align-items: center;
	color: #FFA500;
	background-color: grey;
}

p {
	color: #F8E182;
	font-weight: 900px;
	font-style: italic;
	font-family: sans-serif;
	background-color: green;
}

.inicio {
	background-color: skyblue;
	width: 75%;
}

.meio{
	background: lightgreen;
}

.fim {
	font-family: times;
	font-size: 22px;
	font-style: italic;
	color: skyblue;
}